@page "/Loan/all"
@using LibraryBackend.Shared
@using LibraryFrontend.Services
@using LibraryFrontend.Components
@inject ILoanService LoanService

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>

@if (_error)
{
    <ErrorComponent ReloadUrl="/Loan/all" />
}
else if (_loan is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>BirthDate</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in _loan)
            {
                <tr>
                    <td>@loan.Id</td>
                    <td>@loan.BookId</td>
                    <td>@loan.BorrowingDate.ToShortDateString()</td>
                    <td>@loan.ReturnDeadLine.ToShortDateString()</td>
                    <td><a href="/Loan/@loan.Id" class="btn btn-info">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Loan>? _loan { get; set; }
    private bool _error = false;
    private const string Title = "All Loan's";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _loan = await LoanService.GetAllAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _loan = null;
            _error = !_error;
        }
    }
}
