@page "/Loan/all"
@using LibraryBackend.Shared
@using LibraryFrontend.Services
@using LibraryFrontend.Components
@inject ILoanService LoanService

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>BirthDate</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Guid</td>
        <td>@Guid</td>
        <td>@DateTime.Today.AddDays(-1).ToShortDateString()</td>
        <td>@DateTime.Today.ToShortDateString()</td>
        <td><a href="/Loan/@Guid" class="btn btn-info" target="_blank">Details</a></td>
    </tr>
    </tbody>
</table>

@code {
    private IEnumerable<Loan>? _loan { get; set; }
    private bool _error = false;
    private const string Title = "All Loan's";
    private Guid Guid => Guid.NewGuid();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _loan = await LoanService.GetAllAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _loan = null;
            _error = !_error;
        }
    }
}
